html {
  background-color: #04aa6d;
  padding: 50px;
  display: table;
  margin: auto;
  height: 100%;
    }
    
body {
  font-family: Arial, sans-serif;
  background-color: #F0E68C;
  box-sizing: border-box;
  max-width:80%;
  margin: auto;
  padding: 60px;
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

/* Top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  list-style-type: none;
  margin: auto;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #04aa6d;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04aa6d;
}

/* Flex container for articles 
.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    margin: auto;
  } */

h1 {
  margin: 10px;
  padding: 5px;
  text-align: center;
}

h2 {
  font-size: 30px;
}


h3 {
  margin: 10px;
  padding: 5px;
  text-align: center;
  font-size: 30px;
}


  /* Styling for each article */
article {
    width: 90%; 
    margin: auto;
    margin-bottom: 20px; 
    background-color: #F0E68C;
    padding: 20px;
    
  } 
  
  p {
    padding: 25px;
    font-size: 25px;
  }

/* Images */


.early-img {
  max-width: 130%;
  height: auto;
  display: block;
  margin: auto;
}

.feuds-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.business-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

figure {
  border: .5px #333 solid;
  padding: 5px;
  margin: auto;
  width: 70%;
}

figcaption {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
}




