html {
  background-color: #04aa6d;
  padding: 50px;
  display: table;
  margin: auto;
  height: 100%;
    }
body {
  font-family: Arial, sans-serif;
  background-color: #F0E68C;
  max-width: 800px;
  margin: auto;
  padding: 60px;
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

/* Top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* color to the active/current link */
.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

h1 {
  margin: 10px;
  padding: 5px;
  text-align: center;
}

article {
  margin: 50px;
  padding: 20px;
  
}

ul {
  margin: 50px;
  padding: 20px;
  
}

p {
  font-size: 20px;
}

.main-img {
  margin-bottom: 20px;
  clear: both;
  float: left;
  width: 320px;
  height: 290px;
}

img {
  width: 320px;
  height: 290px;
  margin-right: 5px;
}


/* Styling for skills section */
.skills {
  margin-top: 20px;
  background: #E0FFFF;
  text-align: center;
  margin: auto;
  border: 0.5px solid black;
  padding: 10px;
}

/* Styling for table */
.table {
  background: #a5ffd9;
  border: 1px solid black;
  padding: 30px;
  width: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Styling for tables */
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 2px solid #080600;
}

th {
  background-color: #ccb1ef;
  font-weight: bold;
}

.contactForm {
  margin: 30px;
  line-height: 3em;
}

/* Styling for footer */
footer {
  display: inline;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  bottom: 0px;
  width: 500px;
  text-align: center;
}
/* Center the footer */
    footer {
      text-align: center;
      margin: auto;
    }

    /* W3.CSS button style to each link */
    nav a {
      margin: 5px;
      text-decoration: none;
    }
 nav a.w3-btn {
      /* W3.CSS button styles */
      background-color: #4CAF50;
      color: white;
      padding: 8px 16px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      text-decoration: none;
    }

    nav a.w3-btn:hover {
      background-color: #45a049;
    }

